/* #region header */
.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 10px;

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    flex-grow: 1; /* Expand to fill remaining vertical space */
    padding-bottom: 40px;
    @include contentPaddingInline;

    @include onTablet {
      padding-bottom: 64px;
    }
  }

  &__title {
    color: $main-text-color-light;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.5px;
    margin-bottom: 10px;

    @include onTablet {
      font-size: 64px;
    }
  }
}
/* #endregion */
