/* #region menu */
.top-bar {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__logo {
  display: flex;
}

.top-bar__icons {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #D12D35;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__nav {
  margin-bottom: 40px;
}

.menu__content {
  padding-inline: 20px;
}

.menu__top {
  margin-bottom: 40px;
}

.menu__content{
  position: relative;
}

.menu:target {
  opacity: 1;
  pointer-events: all;
}
.menu__phone-number {
  color: #FFF;
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 8px;
}

.menu__phone-number--last {
  margin-bottom: 16px;
}

.menu__call-to-order {
  color: #FFF;
  text-decoration: none;
  display: block;
  padding-bottom: 7px;
  border-bottom: 1px solid #FFF;
  width: fit-content;

  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}
/* #endregion */
